body{
    background: #1C1C1C;
}

.block-background{
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;
  
    background: #1F2937;
    padding: 10px;
}

h3{
  color: white;
  width: 354px;
    height: 80px;
    left: 52px;
    top: 115px;
  
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.025em;
    margin-bottom: -80px;
}
.head3{
  color: #4ADF86;
}

.sub-title{
  margin-top: 40px;
  width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;
  
    /* text-xl/leading-7/font-normal */
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */
  
  
    /* Medium grey */
  
    color: #D5D4D8;
}

button{
flex-direction: row;
justify-content: center;
align-items: center;
padding: 9px 17px 9px 15px;
gap: 12px;
color: white;

width: 191px;
height: 42px;
left: 52px;
top: 284px;

background: #10B981;
/* shadow/sm */
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 6px;
cursor: pointer;
}
input{
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;

    border-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    background: #10B981;
    color: white;
}

.bracker{
  margin-top: 30px;
  width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;
  
    border: 1px solid #2F3E53;
}

.password{
    margin: 10px 5px 0px 5px;
    display: inline-block;
    width: 211px;
    text-align: center;
    color: #10B981;
    height: 39px;
    left: 52px;
    top: 396px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
  
    background: #273549;
    border-radius: 6px;
    cursor: pointer;
}
.selectWrapper {
  width: 100%;
  position: relative;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms linear 0s;
  filter: drop-shadow(0 6px 26px rgba(0, 0, 0, 0.24));
  padding-top: calc(var(--sizeVar) / 2);
}

.multiSelect {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  border: 1px solid var(--borderColor);
  box-sizing: border-box;
  border-radius: calc(var(--sizeVar) / 2);
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  overflow: hidden;
  background: #ffffff;
  transition: transform 300ms ease-in-out 0s, clip-path 300ms ease-in-out 0s;
}

.multiSelect div {
  color: var(--textPrimary);
  padding: 16px;
  width: auto;
  cursor: pointer;
}
.multiSelect div:hover {
  background-color: #f6f6f6;
}
.bottomBorder {
  border-bottom: 1px solid var(--borderColor);
}
.topBorder {
  border-top: 1px solid var(--borderColor);
}